.info-container {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  .info-message {
    display: flex;
    flex-direction: row;

    p {
      margin-left: 15px;
      color: #f2f4f7;
    }
  }
  .other-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 20px 0;
    background-color: #0a0e14;
    color: #f2f4f7;
    .info {
      font-size: 1.4rem;
      margin-bottom: 15px;
      color: #f2f4f7;
    }
    .location {
      color: #f2f4f7;
      margin-bottom: 10px;
    }
    a {
      font-size: 0.8rem;
      color: #304357;
    }
  }
}
