.header-container {
  // position: relative;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  .burger-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:focus {
      outline: none;
    }
    .burger {
      width: 50px;
      height: 6px;
      background-color: black;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(132, 61, 61, 1);
      transition: all 0.5s ease-in-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 6px;
        background-color: black;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(132, 61, 61, 1);
        transition: all 0.5s ease-in-out;
      }

      &:before {
        transform: translateY(-16px);
      }
      &:after {
        transform: translateY(16px);
      }

      &.toggled {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;

        &:before {
          transform: rotate(45deg) translate(35px, -35px);
        }

        &:after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
      }
    }
  }

  .nav-links {
    position: fixed;
    text-align: center;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(2% at 50% -10%);
    -webkit-clip-path: circle(2% at 50% -10%);
    transition: all 1s ease;
    pointer-events: none;

    li {
      font-size: xx-large;
      &:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      &:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      &:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
    }

    &.toggled {
      clip-path: circle(40% at 50% -10%);
      -webkit-clip-path: circle(40% at 50% -10%);

      pointer-events: all;
    }
  }
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.775);
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    transition: all 1s ease;
  }
}
