.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr;

  .header {
    grid-area: header;
  }
  .content {
    grid-area: content;
    padding-top: 100px;
  }
  .footer {
    grid-area: footer;
    background-color: green;
  }
}
