.app-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1fr;

  .header {
    grid-area: header;
    background-color: #0a0e14;
  }
  .content {
    grid-area: content;
    padding: 20px;
    background-color: #1f2430;
  }
  .footer {
    grid-area: footer;
    background-color: #0a0e14;
  }
}

@media screen and (min-width: 1025px) {
  .app-container {
    overflow: auto;
  }
}
